ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC940aR99ulJOqAuJ+vLqwIGLSAFDFJrpU46WPLzi2quG+AaKDSPKFfB1a21Fu9yCL01XSdWfEmNaYEacjl0ldNOgWXgORVudfZKe2G//LY0dxc8c3RhRDFd2e616TrrEqoIucCWWuh6hILD7RS+6eYum+ZPUlXMsqSNk1wNE5o62tWhhUBnH8p11nQaqdETwDUGzFtLVB/XBaMaNCEVkfu/e7/JKLPXUfzvpL/aXe0/6NXzXWasEmyVGP7Wgpc3Vw/HZIhXeCTg1bkS8NKV5O+jELCIzXR6pM9be9PTt+ZayCeBThwWT/RQz/9ncKLWjPV7oUyPDyYwrS/aCuDnu35 birdhisoka@birdhisoka-Lenovo-ideapad-310-14ISK
